.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f9;
}

/* .login-form {
  padding: 20px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
} */

/* .input-group {
  margin-bottom: 20px;
} */

/* .input-group label {
  align-items: left;
  display: block;
  margin-bottom: 5px;
} */

/* .input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 8px;
} */

button {
  width: 100%;
  padding: 10px;
  background-color: #5c67f2;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #4a54e1;
}

/* .password-input-container {
  position: relative;
} */


.password-toggle-icon {
  position: absolute;
  top: 65%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

.profile {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f9;
}

.profile-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 45%;
  background-image: url('../public/images/bg1.jpg');
  background-size: cover;
  /* background-position: center; */
}

.profile-container {
  position: relative;
  width: 50%;
  /* margin: auto; */
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.profile-image {
  bottom: 85%;
  left: 0;
  right: 0;
  position: absolute;
  /* text-align: center; */

}


.profile-username {
  margin-top: 10px;
  color: #333;
}


.profile-body {
  display: flex;
  justify-content: center;
}

.profile-details {
  flex: 1;
  margin-right: 20px;
}

.profile-section-title {
  margin-bottom: 10px;
  color: #333;
}

.profile-bio {
  color: #666;
}

.profile-info {
  margin-bottom: 10px;
  color: #666;
}